<ul class="nav">
  <li class="nav-item">
    <div class="rounded-circle">
      <a class="nav-link active" href="#"><span class="fa fa-fw fa-blind"></span></a>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Longer nav link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li>
</ul>
