<div class="container mb-5" style="border-bottom: 2px dashed #ccc;">
  <div class="row pb-4 graphs-row">
    <div class="col-md-5" style="border-right: 1px dashed #ccc;">
      <div class="graph-section-head mb-3 text-center">
        <strong style="font-size: 0.9em" class="fw-500"> Distribution by agent compliance</strong>
      </div>
      <canvas
      baseChart
      [chartType]="'doughnut'"
      [data]="donutChart.data"
      [labels]="donutChart.labels"
      [options]="donutChart.options"
      [colors]="donutChart.colors"
      [legend]="false"
      (chartClick)="onChartClick($event)">
    </canvas>
    <div class="legend mt-3" style="font-size: 0.7em;">
      <span><strong>Agents</strong></span> <br>
      <span class="fa fa-fw fa-square" style="color: #ffaf66;"></span> Partially Compliant <br>
      <span class="fa fa-fw fa-square" style="color: #A1CF6B;"></span> Compliant <br>
      <span class="fa fa-fw fa-square" style="color: rgb(232, 116, 97);"></span> Non Compliant
    </div>
  </div>
  <div class="col-md-7">
    <div class="graph-section-head mb-3 text-center">
      <strong style="font-size: 0.9em" class="fw-500"> Distribution by absense of documents</strong>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="stat-progress-bars text-left">
          <div class="each-doc" *ngFor = "let item of [3, 5, 2, 4, 7]">
            <div class="label small mb-2 mt-2">
              <span>Document-type-{{item}}</span>
              <span style="float:right;">{{item*10}}%</span>
            </div>
            <div class="progressBar">
              <div class="progress">
                <div class="progress-bar" role="progressbar" [style.width.%]="item*10"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="stat-progress-bars text-left">
          <div class="each-doc" *ngFor = "let item of [3, 5, 2, 4, 7]">
            <div class="label small mb-2 mt-2">
              <span>Document-type-{{item}}</span>
              <span style="float:right;">{{item*10}}%</span>
            </div>
            <div class="progressBar">
              <div class="progress">
                <div class="progress-bar" role="progressbar" [style.width.%]="item*10"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-9 section-vendors">
      <div class="section-heading">
        <p class="tejawal text-uppercase">
          Agent Profiles
        </p>
      </div>
      <div class="section-content">
        <div class="vendor-search search-wrapper mb-3">
          <div class="row">
            <div class="col-md-12">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search By Agent Information" aria-label="vendor search">
                <div class="input-group-append">
                  <span class="input-group-text" id="input-symbol"><span class="fa fa-fw fa-search"></span></span>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-12">
              <div class="small text-right text-primary pointer" (click)="advancedSearch = !advancedSearch">Advanced Search</div>
              <div *ngIf="advancedSearch" class="hidden-search small mt-2">
                <div class="card">
                  <div class="card-body">
                    <form>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="inputEmail4">Email</label>
                          <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                        </div>
                        <div class="form-group col-md-6">
                          <label for="inputPassword4">Password</label>
                          <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputAddress">Address</label>
                        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                      </div>
                      <div class="form-group">
                        <label for="inputAddress2">Address 2</label>
                        <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="inputCity">City</label>
                          <input type="text" class="form-control" id="inputCity">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="inputState">State</label>
                          <select id="inputState" class="form-control">
                            <option selected>Choose...</option>
                            <option>...</option>
                          </select>
                        </div>
                        <div class="form-group col-md-2">
                          <label for="inputZip">Zip</label>
                          <input type="text" class="form-control" id="inputZip">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="gridCheck">
                          <label class="form-check-label" for="gridCheck">
                            Check me out
                          </label>
                        </div>
                      </div>
                      <button type="submit" class="btn btn-primary">Sign in</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-2 vendor-card" *ngFor="let item of data; let i = index" [attr.data-index]="i">
          <div class="card-body vendor-card-body">
            <div class="compliance-details">
              <!-- <span class="text-danger">Approval Pending </span> -->
              <span *ngIf="item.platinum && !item.pending" class="fa-stack text-success" title="Compliant Vendor">
                <i class="fa fa-sun-o fa-stack-2x"></i>
                <i class="fa fa-check fa-stack-1x"></i>
              </span>
              <span *ngIf="!item.platinum && item.pending" class="fa-stack text-orange" title="Compliance Pending">
                <i class="fa fa-sun-o fa-stack-2x"></i>
                <i class="fa fa-check fa-stack-1x"></i>
              </span>
            </div>
            <strong class="text-uppercase vendor-name pointer">
              <a href="#" [routerLink]="['','agents',item.vendorID,'summary']">
                {{item.name}}</a>
              </strong>
              <div class="row mt-3">
                <div class="col-md-4">
                  <small class="text-uppercase text-muted">Address:</small> <br>
                  {{item.address}}, {{item.city}}, {{item.state}}, {{item.zip}}
                </div>
                <div class="col-md-4">
                  <small class="text-uppercase text-muted">Contact:</small> <br>
                  <span class="fa fa-fw fa-user text-muted small"></span> {{item.contact}} <br>
                  <span class="fa fa-fw fa-phone text-muted small"></span> {{item.phone}}
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-2 text-right">
                  <small class="text-uppercase text-muted">Compliance:</small> <br>
                  <h4>{{item.compliancePercent}}%</h4>
                </div>
              </div>
              <div class="text-right small text-info show-more pointer" (click)="showMore = !showMore">
                Show More <span class="fa fa-fw fa-chevron-down"></span>
              </div>
              <div class="vendor-hidden-content mt-3" *ngIf="i == 0 && showMore">
                <div class="row">
                  <div class="col-md-5">
                    <strong class="text-uppercase text-danger small expired-header">Expired Documents</strong>
                    <ul class="list-unstyled small">
                      <li>Invoice</li>
                      <li>Driver's License for <strong>Jason Statham</strong></li>
                      <li>Vehicle Registration for <strong>Chevy Pickup 2018</strong></li>
                    </ul>
                  </div>
                  <div class="col-md-5">
                    <strong class="text-uppercase small missing-header">Missing Documents</strong>
                    <ul class="list-unstyled small">
                      <li>Invoice</li>
                      <li>Driver's License for <strong>Jason Statham</strong></li>
                      <li>Vehicle Registration for <strong>Chevy Pickup 2018</strong></li>
                    </ul>
                  </div>
                  <div class="col-md-2 text-right">
                    <span class="small text-orange" *ngIf="item.pending">Pending Compliance</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3" style="border-left: 1px dashed #ccc;">
        <div class="section-stats" hidden>
          <div class="section-heading">
            <p class="tejawal text-uppercase">
              Statistics
            </p>
          </div>
          <div class="section-content pb-2">
            <div class="card">
              <div class="card-body text-center">
                <div class="stat-1">
                  <div class="mb-2">
                    <strong class="small fw-500">Dist. by Agent Compliance</strong>
                  </div>
                  <canvas
                  baseChart
                  [chartType]="'doughnut'"
                  [data]="donutChart.data"
                  [labels]="donutChart.labels"
                  [options]="donutChart.options"
                  [colors]="donutChart.colors"
                  [legend]="false"
                  (chartClick)="onChartClick($event)">
                </canvas>
                <div class="legend mt-3" style="font-size: 0.7em;">
                  <span class="fa fa-fw fa-square" style="color: pink;"></span> Compliant Agents <br>
                  <span class="fa fa-fw fa-square" style="color: skyblue;"></span> Partially Compliant Agents <br>
                  <span class="fa fa-fw fa-square" style="color: yellow;"></span> Non Compliant Agents
                </div>
              </div>
              <hr>
              <div class="stat-2">
                <div class="mb-2 mt-3">
                  <strong class="small fw-500">Dist. by Missing Documents</strong>
                </div>
                <div class="stat-progress-bars text-left">
                  <div class="each-doc" *ngFor = "let item of [3, 5, 2, 4, 7]">
                    <div class="label small mb-2 mt-2">
                      <span>Document-type-{{item}}</span>
                      <span style="float:right;">{{item*10}}%</span>
                    </div>
                    <div class="progressBar">
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" [style.width.%]="item*10"></div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="section-expiring-docs">
        <div class="section-heading mt-3">
          <p class="tejawal text-uppercase">
            Expiring Documents
          </p>
        </div>
        <div class="section-content">
          <div class="card mb-2" *ngFor="let doc of docs">
            <div class="filetype text-center pointer" title="Download">
              <span class="fa fa-fw fa-file-o" style="color: purple;"></span> <br>
              <strong class="text-uppercase">PDF</strong>
            </div>
            <div class="card-body small">
              <span class="text-capitalize" style="font-weight: 500">{{doc.type}}</span> <br>
              {{doc.name}} <br>
              <span [ngClass]="{'text-danger': doc.expiring}">{{doc.createdAt | date: 'MMM dd yy - hh:mma'}}</span>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
