@import "./_variables.less";
/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Tajawal:400,700,800');
.tejawal{
  font-family: 'Tajawal', sans-serif;
}
.montserrat{
  font-family: 'Montserrat', sans-serif;
}
body{
  font-family: 'Montserrat'  , sans-serif;
  // background-color: #F4F6F9;
  // background-color: #FCFCFC;

}

.seg{
      font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
.text-brand{
  color: @brand-text;
  &-primary{
    color: @brand-primary;
  }
}
.pointer{
  cursor: pointer;
}
.text-orange{
  color: orange;
}
.fw-500{
  font-weight: 500;
}
